name: Purge jsDelivr Cache
on:
  push:
    paths:
      - 'assets.json' # Only triggers when you actually update your asset list

# This cancels any "in-progress" purge if you push a new file immediately
concurrency:
  group: purge-cache
  cancel-in-progress: true

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 600 seconds (Anti-Spam)
        run: sleep 600 
        
      - name: Send Purge Request
        run: |
          curl -X POST "https://purge.jsdelivr.net/gh/AssetStation/asset-station-library@main/assets.json"
